<h1>{{ nombre }}</h1>

<dl>
    <td>Nombre</td>
    <dd>{{nombre}}</dd>

    <td>Edad</td>
    <dd>{{edad}}</dd>

    <td>Funcion</td>
    <dd>{{obtenerNombre()}}</dd>

    <td>Capatilizado</td>
    <dd>{{nombreCapitalizado}}</dd>
</dl>

<button type="button"
*ngIf="nombre !== 'Super Man'"
(click)="cambiarNombre()"  class="btn btn-primary">
    Cambiar Héroe
</button>
<!-- *ngIf="false"  destruye el boton. -->
<button type="button"
*ngIf="edad === 19"
(click)="cambiarEdad()" class="btn btn-primary">
    Cambiar Edad
</button>

<button type="button"
(click)="resetForm()" class="btn btn-primary">
    reset formulario
</button>
